<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">>

<head th:replace="~{fragments/commons::head}"></head>

<body class="d-flex flex-column min-vh-100">

<header>
    <nav th:replace="~{fragments/commons::navigation}"></nav>
</header>

<main class="flex-fill">

<div class="container-fluid">
    <h5 class="text-center text-dark mt-5">
        UUUUPS!!!! The object that you are looking for is not available!

        Why don't you <a th:href="@{/trips/search}">search</a> for something else here?
    </h5>
</div>

</main>

<div>
    <footer> </footer>
</div>

</body>
</html>