@import url("https://use.fontawesome.com/releases/v6.4.2/css/all.css");

body {
    background-color: #f5f6ea;
}

.add-body,
.profile-body {
    background-image: url('../images/add-trip.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #ffffff;
}

.add-body {
    background-image: url('../images/add-trip.jpg');
    background-position: center;
}

.bg-custom {
    background: white;
    color: black;
}

.bg-custom-opaque {
    background: white;
    color: black;
}

.bg-custom-reversed {
    background-image: linear-gradient(to top right, rgba(70, 70, 70, 0.8), rgba(10, 10, 10, 0.8));
    color: white;
}

.border-custom {
    border: 1px solid #999999;
    border-radius: 0px;
}

.navbar .logo {
    max-height: 70px;
}

.container, .container-fluid {
    padding-top: 100px;
}

.container-fluid {
    background-color: #f5f6ea;
}

.card-img-top {
    width: 100%;
    height: 220px; /* Set the desired fixed height */
    object-fit: cover; /* This property ensures the image covers the entire container */
    object-position: center; /* This centers the image within the container */
}

.main-form {
    background: #ffffff;
    padding: 0px 30px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    font-size: 16px;
}

.more-images {
    white-space: nowrap;
    overflow-x: auto;
    padding: 5px;
}

.embed-responsive {
    height: 400px;
}

.more-images img {
    max-height: 80px;
    margin-right: 5px;
    border: none; /* Remove individual borders */
}

.main-image {
    position: relative;
    height: 430px;
    overflow: hidden;
}

@media (max-width: 767px) {
    .main-image {
        height: 220px;
    }

    .embed-responsive {
        height: 200px;
        margin: 20px;
    }

    .more-images img {
        max-height: 50px;
    }
}

.main-image img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Maintain aspect ratio; may crop image */
}

.main-image button.prev,
.main-image button.next {
    background-color: transparent;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    outline: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.main-image button.prev {
    left: 0;
    color: #343a40;
}

.main-image button.next {
    right: 0;
    color: #343a40;
}

#deleteImg {
    position: absolute;
    right: 0;
    top: 0;
}

.main-image button.prev:hover,
.main-image button.next:hover {
    background-color: black;
    color: #fff; /* Change the icon color on hover */
}

ul.custom-list {
    padding-left: 1.25em; /* Adjust as needed */
    margin-bottom: 0;
}

ul.custom-list li {
    list-style-type: disc;
}

.register-image {
    background: white;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    overflow: hidden;
}

.btn-custom {
    font-size: 1.5rem;
    line-height: 0.7rem;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Ensure it's on top of everything */
}

.pagination .page-item.disabled .page-link {
    color: #777777;
}

.pagination .page-item .page-link:hover {
    background-color: #ffffff; /* Your desired background color on hover */
    font-weight: bold;
    color: #000000; /* Your desired text color on hover */
}

.pagination .page-item .page-link {
    background-color: #ffffff;
    color: #999999;
    border: 1px solid #999999;
}

#lang {
    background-color: #4e555b;
    color: white;
}

nav .dropdown-menu {
    background-color: #fff;
}

nav .dropdown-item {
    background-color: #fff;
    color: rgba(0, 0, 0, .5);
}

nav .dropdown-item:hover {
    background-color: #999999;
    font-weight: bold;
    color: white;
}

.round-image {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    max-height: 130px; /* Set the maximum height */
    overflow: hidden; /* Hide overflow to ensure circular shape */
}

.carousel-img {
    height: 550px;
    overflow: hidden;
}

@media (max-width: 767px) {
    /* Adjust the height for small screens */
    .carousel-img {
        height: 225px;
    }
}

.carousel-item img,
.round-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-overlay {
    position: relative;
}

/* Style for the overlay */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

/* Default styles for larger screens */
.fs-sm {
    font-size: 24px; /* Default font size for larger screens */
}

/* Media query for small screens */
@media (max-width: 767px) {
    .fs-sm {
        font-size: 14px; /* Adjust the font size for small screens */
    }
}

.comment {
    border-bottom: dimgrey 2px solid;
    position: relative;
}

/* Media query for smaller screens */
@media (max-width: 767px) {

    .carousel-caption {
        position: absolute;
        bottom: 15px;
    }

    .carousel-caption h2,
    .carousel-caption p {
        font-size: 14px;
        text-align: left;
        margin: 0;
    }

    .hide-on-small-screen {
        display: none; /* Hide the <br> element on small screens */
    }

    .content-responsive i {
        font-size: 34px;
    }

    .content-responsive p {
        font-size: 14px;
    }

    .title h2 {
        font-size: 26px;
    }

    .title p {
        font-size: 14px;
    }

    .comment button {
        position: absolute;
        right: 10px;
        bottom: 2px;
    }
}

@media (min-width: 768px) {
    .hide-on-large-screen,
    .hide-on-large-screen + br {
        display: none;
    }
}

#commentCtnr div {
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.custom-width {
    flex: 0 0 calc(100% / 7);
    max-width: calc(100% / 7);
}

@media (max-width: 1200px) {
    .custom-width {
        flex: 0 0 14.2857%;
        max-width: 14.2857%;
    }
}

@media (max-width: 992px) {
    .custom-width {
        flex: 0 0 20%;
        max-width: 20%;
    }
}

@media (max-width: 768px) {
    .custom-width {
        flex: 0 0 33.3333%;
        max-width: 33.3333%;
    }
}

@media (max-width: 576px) {
    .custom-width {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

.no-radius {
    border-radius: 0;
}

.card-padding {
    padding-left: 30rem;
    padding-right: 30rem;
}

@media (max-width: 1500px) {
    .card-padding {
        padding-left: 4rem;
        padding-right: 4rem;
    }
}

@media (max-width: 576px) {
    .card-padding {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}
