<!DOCTYPE html>
<html lang="en">
  <head th:replace="~{fragments/commons::head}"></head>

  <body>
    <div>
      <nav th:replace="~{fragments/commons::navigation}"></nav>
    </div>

    <div class="container-fluid mb-5">
      <div class="row mx-0 mx-lg-3 justify-content-center">
        <!-- Image -->
        <div class="register-image col-lg-4 col-sm-7 p-0 d-flex align-items-center justify-content-center">
          <img src="/images/register.jpg" alt="register-img" class="w-100" />
        </div>

        <!-- Login form -->
        <div class="main-form col-sm-6 col-lg-3 d-flex flex-column align-items-center justify-content-center">
          <div class="alert alert-success mt-4" role="alert" th:if="${successMessage != null}">
            <p th:text="${successMessage}" class="mb-0"></p>
          </div>

          <div class="alert alert-danger mt-4" role="alert" th:if="${not_verified}">
            <p class="mb-0">Your profile is not verified. Click on the verification link in your mail to verify it.</p>
            <a th:href="@{/users/register/sendNewVerificationMail(username=${username})}"
               class="mb-0">Click here and a new mail with a verification link will be sent to you.</a>
          </div>

          <h2 class="text-center text-dark my-2 mb-4">Login</h2>

          <p th:if="${bad_credentials}" class="text-danger">
            Invalid username or password.
          </p>

          <form th:action="@{/users/login}"
                th:method="post"
                class="mx-auto d-flex flex-column justify-content-center">

            <div class="form-group mb-2">
              <label for="username" class="text-dark font-weight-bold">Username</label>
              <input type="text"
                     th:value="${username}"
                     name="username"
                     id="username"
                     class="form-control"
                     aria-describedby="usernameHelpInline">
            </div>
            <div class="form-group mb-2">
              <label for="password" class="text-dark font-weight-bold"
                >Password</label
              >
              <input
                      type="password"
                      name="password"
                      id="password"
                class="form-control"
                placeholder="Password"/>

              <a th:unless="${not_verified}" th:href="@{/password/reset}" class="text-info">Forgot password?</a>

            <div class="row">
              <div class="col col-md-4 my-3">
                <div class="button-holder d-flex">
                  <input
                    type="submit"
                    class="btn btn-info btn-md"
                    value="Login"
                  />
                </div>
              </div>
            </div>
            </div>
          </form>

        </div>
        
      </div>
    </div>

    <div class="mt-5">
      <footer th:replace="~{fragments/commons::footer}"></footer>
    </div>
  </body>
</html>
