<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/commons::head}"></head>

<body class="d-flex flex-column min-vh-100">
<div>
    <nav th:replace="~{fragments/commons::navigation}"></nav>
</div>

<main class="flex-fill">

<div class="container-fluid mb-5">
    <div class="row mx-0 mx-lg-3">
        <div class="register-image col-lg-6 col-sm-12 p-0 d-flex align-items-center justify-content-center">
            <img src="/images/register.jpg" alt="register-img" class="w-100" />
        </div>
        <div class="main-form col-sm-12 col-lg-6 d-flex flex-column align-items-center justify-content-center">
            <h2 class="text-center text-white my-2 mb-4">Reset password</h2>

            <form th:action="@{/password/change}"
                  th:method="post"
                  th:object="${data}"
                  class="mx-auto d-flex flex-column justify-content-center">

                <div class="form-group mb-2">
                    <label for="password" class="text-white font-weight-bold">New Password</label>
                    <input
                            id="password"
                            th:field="*{password}"
                            th:errorclass="is-invalid"
                            name="email"
                            type="password"
                            class="form-control"
                            placeholder="Enter a new password"/>

                    <p class="invalid-feedback text-danger mb-0">
                        Password is required and should be at least 5 symbols.
                    </p>
                </div>
                <div class="form-group mb-2">
                    <label for="confirmPassword" class="text-white font-weight-bold">Repeat Password</label>
                    <input
                            id="confirmPassword"
                            th:field="*{confirmPassword}"
                            th:errorclass="is-invalid"
                            type="password"
                            class="form-control"
                            placeholder="Repeat password"
                    />
                    <p class="invalid-feedback text-danger mb-0">
                        Passwords should match.
                    </p>

                    <input type="hidden" th:field="*{token}"/>

                    <div class="row">
                        <div class="col col-md-4 my-3">
                            <div class="button-holder d-flex">
                                <input
                                        type="submit"
                                        class="btn btn-info btn-md"
                                        value="Submit"
                                />
                            </div>
                        </div>
                    </div>
                </div>
            </form>

        </div>

    </div>
</div>

</main>

<div class="mt-5">
    <footer th:replace="~{fragments/commons::footer}"></footer>
</div>
</body>
</html>