<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/commons::head}"></head>

<body class="d-flex flex-column min-vh-100">

<header>
  <nav th:replace="~{fragments/commons::navigation}"></nav>
</header>

<main class="flex-fill">
  <div class="container-fluid mt-5 justify-content-center align-items-center py-5 px-4">

    <form th:action="@{/users/profile/{id}/editProfile(id=${userEditDto.id})}"
          th:method="put"
          th:object="${userEditDto}"
          class="col-sm-12 col-lg-5 mx-auto mt-3 bg-custom-opaque shadow p-5">

      <h2 class="text-center text-dark my-4" th:text="#{edit}">Edit Profile</h2>

      <div class="row mb-4 mt-4">
        <div class="form-group col-sm-12 col-lg-6">
          <label for="firstName" class="text-dark font-weight-bold" th:text="#{first_name}">First name</label>
          <input th:field="*{firstName}"
                 th:errorclass="is-invalid"
                 id="firstName"
                 type="text"
                 class="form-control"
                 placeholder="First name" />
          <p id="inputFirstNameError"
             class="invalid-feedback text-danger mb-0">First name length must be between 3 and 20 characters!</p>
        </div>
        <div class="form-group col-sm-12 col-lg-6">
          <label for="lastName" class="text-dark font-weight-bold" th:text="#{last_name}">Last name</label>
          <input th:field="*{lastName}"
                 th:errorclass="is-invalid"
                 id="lastName"
                 type="text"
                 class="form-control"
                 placeholder="Last name" />
          <p id="inputLastNameError"
             class="invalid-feedback text-danger mb-0" th:text="#{last_name_validation}">Last name must be between 3 and 20 characters!</p>
        </div>
      </div>
      <div class="row mb-4">
        <div class="form-group col-sm-12 col-lg-6">
          <label for="username" class="text-dark font-weight-bold" th:text="#{username}">Username</label>
          <input th:field="*{username}"
                 th:errorclass="is-invalid"
                 id="username"
                 type="text"
                 class="form-control"
                 placeholder="Username" />
          <p id="inputUsernameError"
             class="invalid-feedback text-danger mb-0" th:text="#{username_validation}">Username length must be between 3 and 20 characters!</p>
        </div>
        <div class="form-group col-sm-12 col-lg-6">
          <label for="email" class="text-dark font-weight-bold" th:text="#{email}">Email</label>
          <input th:field="*{email}"
                 th:errorclass="is-invalid"
                 id="email"
                 type="text"
                 class="form-control"
                 placeholder="Email" />
          <p id="inputNameError"
             class="invalid-feedback text-danger mb-0" th:text="#{email_valid}">Must be valid email address.</p>
        </div>
      </div>

      <div class="row my-3">
        <div class="col-md-4">
          <div class="button-holder d-flex">
            <input type="submit" class="btn btn-dark shadow btn-sm px-4" value="Edit Profile" />
          </div>
        </div>
      </div>
    </form>

  </div>
</main>

<footer th:replace="~{fragments/commons::footer}"></footer>

</body>
</html>