<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/commons::head}"></head>

<body class="d-flex flex-column min-vh-100">

<header>
  <nav th:replace="~{fragments/commons::navigation}"></nav>
</header>

<main class="flex-fill">

<div class="container-fluid">
  <div class="d-flex justify-content-center align-items-center mx-2">
    <div    th:object="${statistics}"
            class="col-sm- col-lg-5 mx-auto p-5 mt-3 mb-5 shadow bg-custom-opaque">

      <h2 class="text-center text-dark" th:text="#{statistics}">Statistics</h2>
      <p class="text-center text-dark mb-4" th:inline="text">
        [[${#temporals.format(statistics.localDateTime, 'EEE, MMM dd, yyyy HH:mm')}]]
      </p>
      <h5 th:text="|#{navbar_all_trips}: *{allTrips}|"></h5>
      <h5 th:text="|#{navbar_asian_trips}: *{asianTrips}|"> </h5>
      <h5 th:text="|#{navbar_african_trips}: *{africanTrips}|"> </h5>
      <h5 th:text="|#{navbar_north_american_trips}: *{northAmericanTrips}|"> </h5>
      <h5 th:text="|#{navbar_south_american_trips}: *{southAmericanTrips}|"> </h5>
      <h5 th:text="|#{navbar_antarctican_trips}: *{antarcticanTrips}|"> </h5>
      <h5 th:text="|#{navbar_european_trips}: *{europeanTrips}|"> </h5>
      <h5 th:text="|#{navbar_australian_trips}: *{australianTrips}|"> </h5>
      <h5 th:text="|#{reg_users}: *{usersCount}|"> </h5>

      <button class="btn btn-dark shadow btn-sm mt-4 px-4" th:text="#{back}" onclick="goBackOrHome()">Back</button>

    </div>
  </div>
</div>

</main>

<div>
  <footer th:replace="~{fragments/commons::footer}"></footer>
</div>

<script th:src="@{/js/backButton.js}"></script>
</body>
</html>