<!DOCTYPE html>
<html lang="en">

<head th:replace="~{fragments/commons::head}"></head>

<body class="add-body">

<div>
    <nav th:replace="~{fragments/commons::navigation}"></nav>
</div>

<div class="container-fluid justify-content-center align-items-center">
    <div class="row">
        <form th:action="@{/trips/edit/{id}(id=*{id})}"
              th:method="put"
              th:object="${tripEditDto}"
              class="col-sm-12 col-lg-6 mx-auto p-4">

            <h2 class="text-center text-white my-4">Update Trip</h2>

            <div class="form-group">
                <label for="name" class="text-white font-weight-bold">Trip name</label>
                <input th:field="*{name}"
                       th:errorclass="is-invalid"
                       id="name"
                       type="text"
                       class="form-control"
                       placeholder="Trip name" />
                <p th:each="err : ${#fields.errors('name')}"
                   th:text="${err}"  id="inputNameError"
                   class="invalid-feedback text-danger mb-0">Trip name must be between 5 and 30 symbols!</p>
            </div>

            <div class="row">
                <div class="form-group col-sm-12 col-md-6  mb-3">
                    <label for="days" class="text-white font-weight-bold">Days to spend</label>
                    <input th:field="*{days}"
                           th:errorclass="is-invalid"
                           id="days" type="number" min="0" max="480" step="1" class="form-control"
                           placeholder="Days to spend" />
                    <p th:each="err : ${#fields.errors('days')}"
                       th:text="${err}"
                       class="invalid-feedback text-danger mb-0">
                        Enter days to spend.
                    </p>
                </div>
                <div class="form-group col-sm-12 col-md-6  mb-3">
                    <label for="countriesVisited" class="text-white font-weight-bold">Visited Countries</label>
                    <input th:field="*{countriesVisited}"
                           th:errorclass="is-invalid"
                           id="countriesVisited" type="number" min="0" max="100" step="1" class="form-control"
                           placeholder="Visited Countries" />
                    <p th:each="err : ${#fields.errors('countriesVisited')}"
                       th:text="${err}"
                       class="invalid-feedback text-danger mb-0">
                        Enter how many countries were visited.
                    </p>
                </div>

            </div>

            <div class="row">
                <div class="form-group col-sm-12 col-md-6  mb-3">
                    <label class="text-center text-white font-weight-bold" for="pricingLevel">Pricing level</label>
                    <select  th:field="*{pricingLevel}"
                             th:errorclass="is-invalid"
                             id="pricingLevel" class="form-control">
                        <option value="">Select pricing level</option>
                        <option th:each="l : ${T(bg.softuni.travelProject.model.enums.PricingLevelEnum).values()}"
                                th:value="${l}"
                                th:text="${l}"
                                th:selected="${l} == *{pricingLevel}">Select pricing level</option>
                    </select>
                    <p class="invalid-feedback text-danger mb-0">
                        Pricing level must be selected.
                    </p>
                </div>
                <div class="form-group col-sm-12 col-md-6  mb-3">
                    <label class="text-center text-white font-weight-bold" for="continent">Continent</label>
                    <select th:field="*{continent}"
                            th:errorclass="is-invalid"
                            id="continent" class="form-control">
                        <option value="">Select continent</option>
                        <option th:each="c : ${T(bg.softuni.travelProject.model.enums.ContinentEnum).values()}"
                                th:value="${c}"
                                th:text="${c}"
                                th:selected="${c} == *{continent}">Select Continent</option>
                    </select>
                    <p class="invalid-feedback text-danger mb-0">
                        Continent must be selected.
                    </p>
                </div>
            </div>

            <div class="form-group">
                <label class="text-center text-white font-weight-bold" for="continent">Choose types</label>

                <div class="container m-0 p-1">
                    <div class="row text-white">
                        <div class="col-lg-3" th:each="t, iterStat : ${allTypes}">
                            <div class="form-check d-flex align-items-center">
                                <input th:field="*{types}"
                                       th:value="${t}"
                                       class="form-check-input form-check-lg"
                                       type="checkbox"
                                       th:id="'check' + ${iterStat.index}"
                                       th:checked="${tripEditDto.types.contains(t)}">
                                <label class="form-check-label text-white" th:for="'check' + ${iterStat.index}" th:text="${#strings.capitalize(#strings.toLowerCase(t))}"></label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="text-white font-weight-bold" for="landmarks">Landmarks</label>
                <textarea th:field="*{landmarks}"
                          th:errorclass="is-invalid"
                          id="landmarks" type="textarea" class="form-control" rows="3" placeholder="Landmarks"></textarea>
                <p th:each="err : ${#fields.errors('landmarks')}"
                   th:text="${err}"
                   class="invalid-feedback text-danger">
                    List of landmarks is required.
                </p>
            </div>

            <div class="form-group">
                <label class="text-white font-weight-bold" for="description">Description</label>
                <textarea th:field="*{description}"
                          th:errorclass="is-invalid"
                          id="description" type="textarea" class="form-control" rows="3"
                          placeholder="Description"></textarea>
                <p th:each="err : ${#fields.errors('description')}"
                   th:text="${err}"
                   class="invalid-feedback text-danger">
                    Description is required.
                </p>
            </div>

            <div class="form-group">
                <label class="text-white font-weight-bold" for="videoUrl">Video URL</label>
                <input th:field="*{videoUrl}"
                       th:errorclass="is-invalid"
                       id="videoUrl" type="url" class="form-control" placeholder="Put recipe video URL here">
                <p class="invalid-feedback text-danger">
                    Recipe video URL is required.
                </p>
            </div>

            <div class="row mb-5">
                <div class="col-md-4">
                    <div class="button-holder d-flex">
                        <input type="submit" class="btn btn-info btn-md" value="Update Trip" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div>
    <footer th:replace="~{fragments/commons::footer}"> </footer>
</div>

<script src="/js/submitTrip.js"></script>
</body>

</html>