<!DOCTYPE html>
<html lang="en">

<head th:replace="~{fragments/commons::head}"></head>

<body class="d-flex flex-column min-vh-100">

<div id="overlay">
    <div id="spinner" class="spinner-border text-light" style="width: 3rem; height: 3rem;" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>

<header>
    <nav th:replace="~{fragments/commons::navigation}"></nav>
</header>

<main class="flex-fill">

<!-- Main -->
<div class="container-fluid">

    <div class="mx-2 m-2 p-4 title">
        <h3 class="text-center m-auto py-3" th:text="${heading}">All Pictures</h3>
        <p class="text-center text-dark d-block">Click on the photo if you want to see the whole
            Trip</p>
    </div>

    <div class="card-group p-5 justify-content-center">

        <div th:each="p : ${pictures}" th:object="${p}" class="col-sm-10 col-md-5 col-lg-2 mb-4">
            <div class="card bg-transparent h-100 border-0 without-radius justify-content-center align-items-center">
                <a th:href="@{|/trips/details/*{tripId}|}">
                    <img class="card-img-top shadow position-relative" th:src="*{url}" alt="Card image cap">
                </a>
                <form
                        th:action="@{/users/profile/{userId}/deletePicture(userId=${#authentication.principal.id})}"
                        th:method="delete"
                        style="display: inline;">
                    <input type="hidden" name="pictureId" th:value="*{id}">
                    <button class="fancy-btn shadow btn-danger" data-toggle="modal"
                            data-target="#exampleModalCenter">
                        <i class="fas fa-trash-alt"></i> Delete Trip
                    </button>
                </form>
            </div>
        </div>

    </div>

</div>

<th:block th:if="${not pictures.isEmpty()}">
    <nav>
        <ul class="pagination justify-content-center">
            <li class="page-item" th:classappend="${pictures.hasPrevious() ? '' : 'disabled'}">
                <a th:if="${pictures.hasPrevious()}"
                   th:href="@{/users/profile/{id}/addedPictures(id= ${#authentication.principal.id}, size=${pictures.getSize()},page=${pictures.getNumber() - 1})}"
                   class="page-link" href="#">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
                <a th:unless="${pictures.hasPrevious()}"
                   class="page-link" href="#">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            <li class="page-item" th:each="page : ${#numbers.sequence(0, pictures.getTotalPages()-1)}"
                th:classappend="${page == pictures.getNumber() ? 'disabled' : ''}">
                <a th:unless="${page == pictures.getNumber()}"
                   th:href="@{/users/profile/{id}/addedPictures(id= ${#authentication.principal.id}, size=${pictures.getSize()},page=${page})}"
                   class="page-link" href="#"
                   th:text="${page + 1}">Number</a>
                <span th:if="${page == pictures.getNumber()}" class="page-link" th:text="${page + 1}">Number</span>
            </li>
            <li class="page-item" th:classappend="${pictures.hasNext() ? '' : 'disabled'}">
                <a th:if="${pictures.hasNext()}"
                   th:href="@{/users/profile/{id}/addedPictures(id= ${#authentication.principal.id}, size=${pictures.getSize()},page=${pictures.getNumber() + 1})}"
                   class="page-link" href="#">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
                <a th:unless="${pictures.hasNext()}"
                   class="page-link" href="#">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    </nav>
</th:block>

</main>

<footer th:replace="~{fragments/commons::footer}"></footer>

<script th:src="@{/js/updateOrDeleteTrip.js}"></script>

</body>

</html>